.event-types {
    margin: 0;
    padding: 0;
}

.event-types h1 {
    /* color: white;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex; */
    color: rgba(255, 255, 255, 0.4);
    font-family: 'Montserrat';
    padding-top: 18%;
    transition: all 0.7s ease-in-out;
}

.event-types p {
    color: white;
    /* height: 100%; */
        /* justify-content: center;
        align-items: center;
        display: flex;
        transition: all 0.7s ease-in-out; */
}

.event-types h1:hover {
    position: relative;
    /* top: 0; */
    /* align-items: baseline; */
}


.hackathon:hover h1, .trips:hover h1, .gaming:hover h1, .workshops:hover h1 {
    color: #17a2b8;
    font-family: 'Montserrat';
    transform: translate(0%, -45%);
}

.hackathon:hover, .trips:hover, .gaming:hover {
    filter: grayscale(0%);
    background-position: 0% 50%;
    color: white;
}

.hackathon:hover p, .trips:hover p, .gaming:hover p, .workshops:hover p{
    color: white;
    /* padding-top: 30px; */
    transition: all 1s ease-in-out;
    opacity: 1;
    visibility: visible;
    /* display: flex;
    align-items: center; */
    /* transform: translate(0%, -30%); */
    /* display:  */
}

.hackathon p, .trips p, .gaming p, .workshops p {
    transition: all 0.5s ease-in-out;
    padding-left: 20px;
    padding-right: 20px;
    visibility: hidden;
    opacity: 0;
    /* transition: all 2s ease-in-out; */
    /* transform: translate(0%, 50%); */
}

.hackathon {
    background-image: url('http://gradlebuilders.com/wp-content/uploads/2018/08/saiba-como-se-tornar-um-desenvolvedor-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(40%);
    transition: all 0.5s ease;
}

.trips {
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHL5dZhEj7HSplPcEuwbusf0YQ_qyJJMA-KPZcd-wfOBvEl8MnQg'); */
    /*used one*//* background-image: url('https://eventil.s3.amazonaws.com/uploads/event/header_image/7178/card_logo_devoxx.jpg'); */
    background-image: url('./devoxx-logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(0%);
    /* background-position: 0% 0%; */
    /* background-position-y: 10px; */
    transition: all 0.5s ease;
}

.gaming {
    background-image: url('https://i.ytimg.com/vi/Dp4nRKF2cuw/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(0%);
    transition: all 0.5s ease;
}

.workshops {
    /* background-image: url('http://www.7techsolutions.com/assets/img/webDevelopment.png'); */
    /* background-image: url('https://www.developeronrent.com/newcss/images/full_stack_sq.jpg');   */
    /* Used one  background-image: url('https://www.acesoftech.com/wp-content/uploads/mean-stack1.jpg'); */
    /* background-image: url('https://www.weblineindia.com/wp-content/uploads/2017/03/full-stack-development-by-weblineindia.jpg'); */
    /* background-image: url('./mean-stack.jpg'); */
    background-image: url('http://getwallpapers.com/wallpaper/full/5/6/8/489112.jpg');
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

.hackathon, .trips, .gaming, .workshops {
    /* width: 300px; */
    filter: grayscale(40%);
    height: 350px;
    overflow: hidden;
    width: 100%;
}

/* .hackathon, .workshops {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.trips, .gaming {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} */