form {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
}

form .col {
    padding-right: 0px;
}

@media (max-width: 490px) {
    form {
        width: 100% !important;
        padding: 0px 20px 20px 20px;
    }
}