html {
    scroll-behavior: smooth;
}

.navbar-nav {
    margin-right: 60px;
}

.nav-item {
    color: #ffffff !important;
    padding: 20px !important;
    padding-top: 0px !important;
    margin-top: 0px;
}

/* .info-image {
    color: white;
    position: relative;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border: 2px solid green;
    bottom: -50%;
} */

/* .join-btn {
    top: 0;
} */

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}


#logo {
  height: 120px;
  width: 120px;
  position: relative;
  top: 10px;
  left: 20px;
}

.nav {
    margin-top: 30px;
}

.navbar-brand {
    color: white !important;
}

