html {
    scroll-behavior: smooth;
}

.navbar {
}

.navbar-nav {
    margin-right: 60px;
}

.nav-item {
    color: #ffffff !important;
    padding: 20px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px;
    font-family: 'Montserrat';
}

.nav-item:hover {
    /* border-bottom: 2px solid #17a2b8; */
    color: #17a2b8 !important;
    transform: scale(1.1);
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}


#logo {
  height: 120px;
  width: 120px;
  position: relative;
  top: 10px;
  left: 20px;
}

.nav {
    margin-top: .5em;
    margin-right: 20px;
    align-content: center;
}

.navbar-brand-1, .navbar-brand-2, .navbar-brand-3, .navbar-brand-4, .navbar-brand-5 {
    color: white !important;
    margin-right: 20px;
    /* font-family: 'Indie Flower', cursive; */
}

.navbar-brand {
    font-family: 'Pacifico';
    color: white !important;
    font-size: 2.5rem;
}


.button-join {
    position: relative;
    top: -8px;
    margin-left: 10px;
    font-family: 'Montserrat';
}

.button-join:hover {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .nav-item {
        text-align: center;
    }

    .nav {
        justify-content: center !important;
    }
}

@media (max-width: 490px) {
    .button-join {
        margin-top: 20px !important;
    }

    .nav {
        margin: 0px;
    }
}

@media (max-width: 359px) {
    .nav {
        display: inline-block;  
    }

    .nav-item {
        margin-top: 10px;
    }
}