.home-page {
  height: 600px;
  width: 100%;
  /* background-color: #d3d3d3; */
  background-attachment: fixed;
  /* background-image: url('../../test1.jpg'); */
  background-image: url('http://www.wallpapermaiden.com/wallpaper/19239/download/2560x1440/computer-macbook-air-business-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
