.home-page {
  height: 600px;
  width: 100%;
  /* background-color: #d3d3d3; */
  /* background-attachment: fixed; */
  background-image: url('../../homepage-background.png');
  background-repeat: no-repeat;
  /* opacity: 0.8; */
  background-size: cover;
}

.home-page h1 {
  color: white;
}

.home-page .club-title {
  /* color: #c3c3c3; */
  color: white;
  position: relative;
  transform: translate(0, -100%);
  top: 35%;
  /* font-family: 'Merienda'; */
  font-size: 3.5em;
  font-family: 'Audiowide';
}

.home-page .home-page-for {
  color: #17a2b8;
  margin: 0px 20px;
}

.home-page #title {
  font-size: 4.5em;
}

.home-page #title-innov {
  font-size: 4em;
}

@media (max-width: 722px) {
  .home-page #title {
    margin-bottom: 0px;
  }

  .home-for {
    margin: 30px 0px !important;
  }

  .club-title {
    top: 25% !important;
    transform: translate(0, 0) !important;
  }
}

@media (max-width: 400px) {
  .home-page #title {
    font-size: 3em !important;
  }

  .home-page #title-innov {
    font-size: 2.5em !important;
    margin-top: 30px !important;
  }

  .home-page-for {
    margin-bottom: 100px !important;
    transform: translate(0, -80%) !important;
  }

}