.home-page {
  height: 600px;
  width: 100%;
  /* background-color: #d3d3d3; */
  background-attachment: fixed;
  /* background-image: url('../../test1.jpg'); */ 
  /* background-image: url('http://www.wallpapermaiden.com/wallpaper/19239/download/2560x1440/computer-macbook-air-business-desktop.jpg'); */
  /* background-image: url('../../home-page-op.png'); */
  background-image: url('../../test1-op.png');
  background-repeat: no-repeat;
  /* opacity: 0.8; */
  background-size: cover;
}

.home-page h1 {
  color: white;
}

.home-page .club-title {
  /* color: #c3c3c3; */
  color: white;
  position: relative;
  transform: translate(0, -100%);
  top: 35%;
  /* font-family: 'Merienda'; */
  font-size: 3.5em;
  font-family: 'Audiowide';
}

.home-page .home-page-for {
  color: #17a2b8;
  margin: 0px 20px;
}

.home-page #title {
  font-size: 4.5em;
}

.home-page #title-innov {
  font-size: 4em;
}