
footer {
    background-color: #343a40;
    margin-top: 50px;
    padding: 10px;
}

footer p {
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
    color: white;
    font-family: 'Montserrat';  
}

footer p span {
    color: #17a2b8;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    text-decoration: none;
    color: inherit;
}
