.event-page {
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}

.Toolbar-color {
    background-color: #343a40;
}

.events-description {
    margin-top: 60px;
    margin-bottom: 60px;
}