.about-title {
    display: inline-block;    
    margin-top: 30px;
    /* border-bottom: 2px solid #0080ff; */
    font-size: 50px;
}

.about-info {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.about-page {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.about-page h4 {
    color: #5bc0de;
}

.about-text {
    background-color: #343a40;
    color: #f1f1f1;
    font-family: 'Montserrat';
    padding-top: 50px;
    border-radius: 4px;
    height: 300px;
    background-color: #46b8da !important;
}

.about-text-test {
     background-color: #343a40;
    color: #f1f1f1;
    font-family: 'Montserrat';
    padding-top: 50px;
    border-radius: 4px;
    height: 300px;
}

.about-image-1 {
    background-color: #c3c3c3;
    background-image: url('https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/17498977_10212466583042785_1085763098092902046_n.jpg?_nc_cat=0&oh=baa2f22b0512c32d2a72570f6f94cdc5&oe=5C26C22E');
    background-size: cover;
    background-repeat: no-repeat;
    /* box-shadow: inset 0 0 3px 2px #282a2d; */
    /* border: 1px solid #343a40; */
    border-radius: 4px;
    height: 300px;
    filter: brightness(90%);
    /* border-right: solid 1px black; */
    filter: blur(5px);
}

.about-image-2 {
    background-color: #c3c3c3;
    background-image: url('https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/16003169_1330451793679395_5716448801899898900_n.jpg?_nc_cat=0&oh=edec99029a1097b436c62965f69d17b5&oe=5C2A3FAA');
    background-size: cover;
    background-repeat: no-repeat;
    /* box-shadow: inset 0 0 5px 2px #282a2d; */
    border-radius: 4px;
    height: 300px;
    /* border-right: solid 1px black; */
    filter: blue(30px);
}

.separator {
    /* border: 2px solid red; */
    
}

.events-button, .joinus-button {
    background: none;
    border-style: none;
    margin-top: 40px;
    border: 1px solid black;
    padding: 20px 30px 20px 30px;
    transition: all 0.7s ease;
    font-family: 'Montserrat';
    margin-bottom: 40px;
}

.events-button:hover {
    background-color: #107585;
    color: white;
    cursor: pointer;
}

.who-are-we {
    background-image: url('https://image.shutterstock.com/z/stock-photo-line-web-concept-for-computer-science-modern-linear-symbol-for-computer-programming-681346903.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(10%);
    
}

