.about-title {
    display: inline-block;    
    margin-top: 30px;
    border-bottom: 2px solid #0080ff;
}

.about-info {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.about-page {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.about-text {
    background-color: #343a40;
    color: #f1f1f1;
    font-family: 'Montserrat';
    padding-top: 50px;
    border-radius: 4px;
    height: 300px;
}

.about-image {
    background-color: #c3c3c3;
    border-radius: 4px;
}