.about-title {
    display: inline-block;    
    margin-top: 30px;
    border-bottom: 2px solid #0080ff;
}

.about-info {
    margin-top: 30px;
}

.test2 {
    border: 2px solid red;
}

.about-page {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}